.profile__edit {
  width: 24px;
  height: 24px;
  /*background-color: #000;*/
  background: url(../../../images/profile-edit.svg);
  background-position: center;
  background-repeat: no-repeat;

  border-width: 1px;
  
  border-style: solid;
  border-color: #fff;
  grid-area: edit;
  align-self: end;
  margin-bottom: 8px;
  

}