.popup__data {
  margin: 0;
  padding: 0;
  margin-bottom: 49px;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  min-height: 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 620px) {
  .popup__data {
    margin-bottom: 45px;
  }
}