.profile__add {
  padding: 0;
  width: 150px;
  height: 50px;
  background: url(../../../images/profile-add.svg);
  background-position: center;
  background-repeat: no-repeat;

  border-width: 1px;
  
  border-style: solid;
  border-color: #fff;
  justify-self: end;
  margin-top: 34px;
  /*align-self: center;*/
}

@media screen and (max-width: 800px) {
  .profile__add {
    width: 100px;
  }
}

